In [11]:
import pandas as pd
import tkinter as tk
from pathlib import Path
from tkinter import filedialog

def select_file_path():
    """ This is the base function to select a file, it opens a prompt and returns
    a path obect.
  
    """
    root = tk.Tk()
    root.withdraw()  # Hide the root window
    file_path = filedialog.askopenfilename()  # Show the file dialog and get the selected file path
    root.destroy()  # Close the root window
    return Path(file_path)

def read_CV(self, CV_file_path: Path):
        self.CV = pd.read_csv(CV_file_path, delimiter=',')
        # the first collum from the CV is not meaningful drop it
        self.CV = self.CV.drop(self.CV.columns[0], axis=1)
        # make the 'Cycl' collumn of type int
        try:
            self.CV['Cycle'] = self.CV['Cycle'].astype(int)
        except ValueError as e:
            print('The CV file does not have a "Cycle" column, please check this data')
            raise e
        

class test:
    def __init__(self):
        self.CV = None

    def read_CV(self, CV_file_path: Path):
        self.CV = pd.read_csv(CV_file_path, delimiter=',', header=0, encoding='ascii')
        # the first collum from the CV is not meaningful drop it
        self.CV = self.CV.drop(self.CV.columns[0], axis=1)
        # make the 'Cycl' collumn of type int
        try:
            self.CV['Cycle'] = self.CV['Cycle'].astype(int)
        except ValueError as e:
            print('The CV file does not have a "Cycle" column, please check this data')
            raise e

In [12]:
path=select_file_path()

CV=test()
CV.read_CV(path)

In [10]:
CV.CV

               t_s     Ewe_V       I_A  Cycle
0          0.01000 -1.001004 -0.000106      0
1          0.02000 -1.000903 -0.000105      0
2          0.03000 -1.000796 -0.000106      0
3          0.04000 -1.000696 -0.000106      0
4          0.05000 -1.000592 -0.000105      0
...            ...       ...       ...    ...
119997  1199.97998 -1.000635 -0.000106      2
119998  1199.98999 -1.000756 -0.000107      2
119999  1200.00000 -1.000841 -0.000107      2
120000  1200.01001 -1.000931 -0.000107      2
120001  1200.02002 -1.000938 -0.000107      3

[120002 rows x 4 columns]